<html>
  <table>
    <tr>
      <td>楼盘名字</td>
      <td>$name</td>
    </tr>
    <tr>
      <td>地段</td>
      <td>$loc</td>
    </tr>
    <tr>
      <td>投资商</td>
      <td>$touzishan</td>
    </tr>
    <tr>
      <td>开发商</td>
      <td>$kaifashan</td>
    </tr>
    <tr>
      <td>物业</td>
      <td>$wuye</td>
    </tr>
    <tr>
      <td>物业费</td>
      <td>$wuye</td>
    </tr>
    <tr>
      <td>价格</td>
      <td>$price</td>
    </tr>
    <tr>
      <td>教育配套</td>
      <td>$edu</td>
    </tr>
    <tr>
      <td>交通</td>
      <td>$jiaotong</td>
    </tr>
    <tr>
      <td>开盘时间</td>
      <td>$kaipan-date</td>
    </tr>
    <tr>
      <td>交付时间</td>
      <td>$jiaofu-date</td>
    </tr>
    <tr>
      <td>绿化率</td>
      <td>${lvhualv}%</td>
    </tr>
    <tr>
      <td>容积率</td>
      <td>${rongjilv}</td>
    </tr>
    <tr>
      <td>公摊面积</td>
      <td>$gongtanmianji</td>
    </tr>
 
  </table>
</html>
