<html>
  <head>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.0.min.js"></script>
    <script>
      function goto() {
        window.location = document.location.origin + "/building/" + $('#buildings').val();
      }
    </script>
  </head>

  <body>
    <table align="left">
      <tr>
        <td>
          <select id="buildings">
            #foreach ($key in $id-to-name.keySet())
            <option value="$key" #if ($key == $id)selected#end>
              $id-to-name.get($key)
            </option>
            #end
          </select>
        </td>
        <td>
          <input type="button" value="go" onclick="javascript:goto();"/>
        </td>
      </tr>
    </table>

    <br/>
  <table width="80%" align="center" border="1">
    <tr>
      <td>楼盘名字</td>
      <td>$building.get("name")</td>
    </tr>
    <tr>
      <td>地段</td>
      <td>$building.get("loc")</td>
    </tr>
    <tr>
      <td>投资商</td>
      <td>$building.get("touzishan")</td>
    </tr>
    <tr>
      <td>开发商</td>
      <td>$building.get("kaifashan")</td>
    </tr>
    <tr>
      <td>物业</td>
      <td>$building.get("wuye")</td>
    </tr>
    <tr>
      <td>物业费</td>
      <td>$building.get("wuyefei")</td>
    </tr>
    <tr>
      <td>价格</td>
      <td>$building.get("price")</td>
    </tr>
    <tr>
      <td>教育配套</td>
      <td>$building.get("edu")</td>
    </tr>
    <tr>
      <td>交通</td>
      <td>$building.get("jiaotong")</td>
    </tr>
    <tr>
      <td>开盘时间</td>
      <td>$building.get("kaipan-date")</td>
    </tr>
    <tr>
      <td>交付时间</td>
      <td>$building.get("jiaofu-date")</td>
    </tr>
    <tr>
      <td>绿化率</td>
      <td>${building.get("lvhualv")}%</td>
    </tr>
    <tr>
      <td>容积率</td>
      <td>$building.get("rongjilv")</td>
    </tr>
    <tr>
      <td>公摊面积</td>
      <td>$building.get("gongtanmianji")</td>
    </tr>
 
  </table>
  </body>
</html>
