<html>
  <head>
    <title>compare</title>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.0.min.js"></script>
    <script>
      function goto_compare() {
        var buildings = $('#buildings').val().join("__");
        window.location = document.location.origin + "/compare/" + buildings;
      }
    </script>

    <style>
      .title {
        background-color: #DDDDDD;
      }
    </style>
  </head>

  <body>
    #parse("links.vm")
    <table align="left">
      <tr>
        <td>
          <select id="buildings" multiple>
            #foreach ($key in $id-to-name.keySet())
            <option value="$key" #if ($key == $id)selected#end>
              $id-to-name.get($key)
            </option>
            #end
          </select>
        </td>
        <td>
          <input type="button" value="go" onclick="javascript:goto_compare();"/>
        </td>
      </tr>
    </table>

    <br/>

  <table width="100%" align="center" border="1">
    <tr>
      <td class="title">楼盘名字</td>
      #foreach ($building in $buildings)
      <td>$building.get("name")</td>
      #end
    </tr>
    <tr>
      <td class="title">地段</td>
      #foreach ($building in $buildings)
      <td>$building.get("loc")</td>
      #end
    </tr>
    <tr>
      <td class="title">投资商</td>
      #foreach ($building in $buildings)
      <td>$building.get("touzishan")</td>
      #end
    </tr>
    <tr>
      <td class="title">开发商</td>
      #foreach ($building in $buildings)      
      <td>$building.get("kaifashan")</td>
      #end
    </tr>
    <tr>
      <td class="title">物业</td>
      #foreach ($building in $buildings)      
      <td>$building.get("wuye")</td>
      #end
    </tr>
    <tr>
      <td class="title">物业费</td>
      #foreach ($building in $buildings)
      <td>$building.get("wuyefei")</td>
      #end
    </tr>
    <tr>
      <td class="title">价格</td>
      #foreach ($building in $buildings)
      <td>$building.get("price")</td>
      #end
    </tr>
    <tr>
      <td class="title">教育配套</td>
      #foreach ($building in $buildings)      
      <td>$building.get("edu")</td>
      #end
    </tr>
    <tr>
      <td class="title">交通</td>
      #foreach ($building in $buildings)
      <td>$building.get("jiaotong")</td>
      #end
    </tr>
    <tr>
      <td class="title">开盘时间</td>
      #foreach ($building in $buildings)
      <td>$building.get("kaipan-date")</td>
      #end
    </tr>
    <tr>
      <td class="title">交付时间</td>
      #foreach ($building in $buildings)      
      <td>$building.get("jiaofu-date")</td>
      #end
    </tr>
    <tr>
      <td class="title">绿化率</td>
      #foreach ($building in $buildings)
      <td>${building.get("lvhualv")}%</td>
      #end
    </tr>
    <tr>
      <td class="title">容积率</td>
      #foreach ($building in $buildings)
      <td>$building.get("rongjilv")</td>
      #end
    </tr>
    <tr>
      <td class="title">公摊面积</td>
      #foreach ($building in $buildings)
      <td>$building.get("gongtanmianji")</td>
      #end
    </tr>
 
  </table>
  </body>
</html>
