<html>
  <body>
    <ul>
      <li><a href="/building/xixi-haixiaohai">查看楼盘</a></li>
      <li><a href="/compare/xixi-haixiaohai__rongke-ailishan">对不同楼盘进行比较</a></li>
      <li><a href="/loan.htm">贷款计算器</a></li>
    </ul>
  </body>
</html>
